#FriendliestFolkPane
{
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 184px;
	margin-top: 10px;
	overflow: auto;
	width: 770px;
}

#FriendliestFolk h4
{
	font-size: 10pt;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 5px;
	margin-top: 5px;
}
/*
     FILE ARCHIVED ON 19:52:40 Nov 10, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:37:40 Jul 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.559
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.016
  esindex: 0.012
  cdx.remote: 8.304
  LoadShardBlock: 215.36 (3)
  PetaboxLoader3.datanode: 317.464 (4)
  PetaboxLoader3.resolve: 190.491 (2)
  load_resource: 320.988
*/