.foo {} /* W3C CSS validator likes CSS files to start with a class rather than a comment. Soooooo.... */

/* This style sheet is intended to contain RARELY CHANGED rules used when the ChangePassword control adapter is enabled. */
/* Empty rules are provided merely as a convenience for your future use or experimentation. */

.AspNet-ChangePassword
{
}


/*
     FILE ARCHIVED ON 12:02:45 Feb 23, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:28:39 Jul 18, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 8.779
  exclusion.robots: 0.091
  exclusion.robots.policy: 0.076
  esindex: 0.013
  cdx.remote: 12.197
  LoadShardBlock: 80.674 (3)
  PetaboxLoader3.datanode: 117.212 (4)
  load_resource: 180.731
  PetaboxLoader3.resolve: 137.76
*/