.foo {} /* W3C CSS validator likes CSS files to start with a class rather than a comment. Soooooo.... */

/* This style sheet is intended to contain RARELY CHANGED rules used when the GridView control adapter is enabled. */
/* Empty rules are provided merely as a convenience for your future use or experimentation. */

.AspNet-GridView
{
}


/*
     FILE ARCHIVED ON 12:02:48 Feb 23, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:28:40 Jul 18, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.558
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.058
  esindex: 0.009
  cdx.remote: 8.206
  LoadShardBlock: 65.981 (3)
  PetaboxLoader3.datanode: 108.84 (4)
  load_resource: 186.432
  PetaboxLoader3.resolve: 134.971
*/