.foo {} /* W3C CSS validator likes CSS files to start with a class rather than a comment. Soooooo.... */

/* This style sheet is intended to contain RARELY CHANGED rules used when the PasswordRecovery control adapter is enabled. */
/* Empty rules are provided merely as a convenience for your future use or experimentation. */

.AspNet-PasswordRecovery
{
}


/*
     FILE ARCHIVED ON 12:02:51 Feb 23, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:28:39 Jul 18, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.967
  exclusion.robots: 0.052
  exclusion.robots.policy: 0.028
  esindex: 0.022
  cdx.remote: 5.958
  LoadShardBlock: 223.791 (3)
  PetaboxLoader3.datanode: 79.992 (4)
  PetaboxLoader3.resolve: 224.975 (3)
  load_resource: 86.414
*/